body{
    background-color: #F43E85;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main{
    margin: auto;
    margin-top: 7%;
    
}
h1{
    text-align: center;
    margin-top: 5%;
    position: absolute;
    color: white;
    margin-left:43%;
}
.section1{
    height: 15%;
    width: 100%;
    background-color: #F43E85;

}

.entry{
    padding-left: 20px;
    width: 100%;
    height:100%;
    border: none;
    border-radius: 20px;
    position: relative;
}
::placeholder{
    opacity: 0.5;
}


.row{
    height:15%;
    width: 100%;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    background-color:#F43E85 ;
    
}
.cols{
    height: 100%;
    width: 50%;
    display: inline-block;
    position: absolute;
}
#desc-heading{
    position: absolute; 
    margin-top: -65px;
    margin-left: 20px;
    font-size: 1.1rem;
    color: #595959;
    font-family: Calibri;
    font-weight: bold;
}
.add-task-btn{
    height: 60%;
    width: 25%;
    margin-top: 3%;
    margin-left: 38%;
    font-size: 20px;
    color: white;
    background-color: #333333;
    border: none;
    border-radius: 10px;
}
.add-icon{
    font-size: 20px;
    color: white;

}
.delete{
    color:red;
}

.edit{
    color:green;
}

.confirm{
    background-color: green;
    margin-left:70%;
}
.custom-select{
    border: none;
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-size: 15px;
    font-weight: bolder;
    color: grey;

}
#cate-heading{
    position: absolute;
    margin-left: 20px;
    margin-top: -65px;
    font-family: Calibri;
    font-size: 17px;
    font-weight: bold;
    color: #595959;
}
.tick{
    height: 20px;
    width: 20px;
    margin: 20px 20px;
    border: solid 1px #333333;
}
.task-added{
    height: 30px;
    width: 400px;
    margin: 10px 10px;
    display: inline-block;
    font-size: 20px;
    color: #595959;
}
.category-display{
     height: 50px;
     width: 130px;
     background-color:#F0005E;
     margin: 20px 20px;
     border-radius: 5px;
     font-size:20px;
     padding: 10px;
     padding-left:35px ;
     color:white;
}
.calender-icon{
    height: 20px;
    width: 20px; 
    color: grey;
    margin: -5px 20px;
}
.date-shown{
    height: 25px;
    width: 100px; 
    margin:-23px 50px ;
    text-transform: uppercase;
    opacity: 0.6;
}
    
@media only screen and (max-width: 768px) {
    #main{
        width: 700px;
        height: 450px;
        background-color:#F43E85;
    }
    h1{
        text-align: center;
        color: white;
        padding-top:3%;
    }
    .entry{
        padding-left: 20px;
        width: 100%;
        height:100%;
        border: none;
        border-radius: 20px;
        position: relative;
    }
    ::placeholder{
        opacity: 0.5;
    }
    .row{
        height:15%;
        width: 100%;
        border-radius: 20px;
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
        flex-direction: row;
        background-color: #F43E85;
    }
    .add-task-btn{
        height: 60%;
        width: 25%;
        margin-top: 3%;
        margin-left: 38%;
        font-size: 20px;
        color: white;
        background-color: #F0005E;
        border: none;
        border-radius: 10px;
    }
    .task-added{
        height: 30px;
        width: 400px;
        margin: 10px 25px;
        display: inline-block;
        font-size: 20px;
        color: white;
    }
    .calender-icon{
        height: 20px;
        width: 20px; 
        color: grey;
        margin: -5px 30px;
    }
    .date-shown{
        height: 25px;
        width: 100px; 
        margin:-23px 60px ;
        text-transform: uppercase;
        opacity: 0.6;
        color: white;
    }
    .category-display{
        height: 55%;
        width: 18%;
        margin: 3% 0px;
        border-radius: 5px;
        font-size:20px;
        padding: 10px;
        padding-left:30px ;
        color:white;
   }
   .edit{
    color:white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 30px;
   }
   .delete{
    color:white;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 30px;
   }
   .edit-task{
    height: 45%;
    width: 60%;
    margin-top: 1%;
    margin-left: 2%;
    border: none;
    border-radius: 10px;
    }
    .edit-task-input{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    }
    .edit-date {
    height: 45%;
    width: 20%;
    border: none;
    border-radius: 10px;
    
    }
    .edit-date-input{
    height: 70%;
    width:100%;
    border: none;
    border-radius: 10px;
    margin:38% -275%;
    padding-left:10px ;
    }
    .update-calender-icon{
        height: 20px;
        width: 20px; 
        color: white;
        margin-top:8.5%;
        margin-left: -79%;
    }
    .confirm{
        height: 57%;
        width:150%;
        border: none;
        border-radius: 10px;
        color: white;
        margin-top:30%;
        margin-left: 650% ;
    }
    .cancel{
        margin-top:3%;
        margin-left: 70%;
        
    }
    .cancel a:link, a:visited {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        height: 70%;
        width:100%;
        border: none;
        border-radius: 10px;
      }
      
      .cancel a:hover, a:active {
        background-color: red;
      }
    }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    #main{
        width: 700px;
        height: 450px;
        background-color:#F43E85;
    }
    h1{
        text-align: center;
        color: white;
        padding-top:3%;
    }
    .entry{
        padding-left: 20px;
        width: 100%;
        height:100%;
        border: none;
        border-radius: 20px;
        position: relative;
    }
    ::placeholder{
        opacity: 0.5;
    }
    .row{
        height:15%;
        width: 100%;
        border-radius: 20px;
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
        flex-direction: row;
        background-color: #F43E85;
    }
    .add-task-btn{
        height: 60%;
        width: 25%;
        margin-top: 3%;
        margin-left: 38%;
        font-size: 20px;
        color: white;
        background-color: #F0005E;
        border: none;
        border-radius: 10px;
    }
    .task-added{
        height: 30px;
        width: 400px;
        margin: 10px 25px;
        display: inline-block;
        font-size: 20px;
        color: white;
    }
    .calender-icon{
        height: 20px;
        width: 20px; 
        color: grey;
        margin: -5px 30px;
    }
    .date-shown{
        height: 25px;
        width: 100px; 
        margin:-23px 60px ;
        text-transform: uppercase;
        opacity: 0.6;
        color: white;
    }
    .category-display{
        height: 55%;
        width: 18%;
        margin: 3% 0px;
        border-radius: 5px;
        font-size:20px;
        padding: 10px;
        padding-left:30px ;
        color:white;
   }
   .edit{
    color:white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 30px;
   }
   .delete{
    color:white;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 30px;
   }
   .edit-task{
    height: 45%;
    width: 60%;
    margin-top: 1%;
    margin-left: 2%;
    border: none;
    border-radius: 10px;
    }
    .edit-task-input{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    }
    .edit-date {
    height: 45%;
    width: 20%;
    border: none;
    border-radius: 10px;
    
    }
    .edit-date-input{
    height: 70%;
    width:100%;
    border: none;
    border-radius: 10px;
    margin:38% -275%;
    padding-left:10px ;
    }
    .update-calender-icon{
        height: 20px;
        width: 20px; 
        color: white;
        margin-top:8.5%;
        margin-left: -79%;
    }
    .confirm{
        height: 57%;
        width:150%;
        border: none;
        border-radius: 10px;
        color: white;
        margin-top:30%;
        margin-left: 650% ;
    }
    .cancel{
        margin-top:3%;
        margin-left: 70%;
        
    }
    .cancel a:link, a:visited {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        height: 70%;
        width:100%;
        border: none;
        border-radius: 10px;
      }
      
      .cancel a:hover, a:active {
        background-color: red;
      }
    }
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    #main{
        width: 700px;
        height: 450px;
        background-color:#F43E85;
    }
    h1{
        text-align: center;
        color: white;
        padding-top:3%;
    }
    .entry{
        padding-left: 20px;
        width: 100%;
        height:100%;
        border: none;
        border-radius: 20px;
        position: relative;
    }
    ::placeholder{
        opacity: 0.5;
    }
    .row{
        height:15%;
        width: 100%;
        border-radius: 20px;
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
        flex-direction: row;
        background-color: #F43E85;
    }
    .add-task-btn{
        height: 60%;
        width: 25%;
        margin-top: 3%;
        margin-left: 38%;
        font-size: 20px;
        color: white;
        background-color: #F0005E;
        border: none;
        border-radius: 10px;
    }
    .task-added{
        height: 30px;
        width: 400px;
        margin: 10px 25px;
        display: inline-block;
        font-size: 20px;
        color: white;
    }
    .calender-icon{
        height: 20px;
        width: 20px; 
        color: grey;
        margin: -5px 30px;
    }
    .date-shown{
        height: 25px;
        width: 100px; 
        margin:-23px 60px ;
        text-transform: uppercase;
        opacity: 0.6;
        color: white;
    }
    .category-display{
        height: 55%;
        width: 18%;
        margin: 3% 0px;
        border-radius: 5px;
        font-size:20px;
        padding: 10px;
        padding-left:30px ;
        color:white;
   }
   .edit{
    color:white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 30px;
   }
   .delete{
    color:white;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 30px;
   }
   .edit-task{
    height: 45%;
    width: 60%;
    margin-top: 1%;
    margin-left: 2%;
    border: none;
    border-radius: 10px;
    }
    .edit-task-input{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    }
    .edit-date {
    height: 45%;
    width: 20%;
    border: none;
    border-radius: 10px;
    
    }
    .edit-date-input{
    height: 70%;
    width:100%;
    border: none;
    border-radius: 10px;
    margin:38% -275%;
    padding-left:10px ;
    }
    .update-calender-icon{
        height: 20px;
        width: 20px; 
        color: white;
        margin-top:8.5%;
        margin-left: -79%;
    }
    .confirm{
        height: 57%;
        width:150%;
        border: none;
        border-radius: 10px;
        color: white;
        margin-top:30%;
        margin-left: 650% ;
    }
    .cancel{
        margin-top:3%;
        margin-left: 70%;
        
    }
    .cancel a:link, a:visited {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        height: 70%;
        width:100%;
        border: none;
        border-radius: 10px;
      }
      
      .cancel a:hover, a:active {
        background-color: red;
      }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    #main{
        width: 700px;
        height: 450px;
        background-color:#F43E85;
    }
    h1{
        text-align: center;
        color: white;
        padding-top:3%;
    }
    .entry{
        padding-left: 20px;
        width: 100%;
        height:100%;
        border: none;
        border-radius: 20px;
        position: relative;
    }
    ::placeholder{
        opacity: 0.5;
    }
    .row{
        height:15%;
        width: 100%;
        border-radius: 20px;
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
        flex-direction: row;
        background-color: #F43E85;
    }
    .add-task-btn{
        height: 60%;
        width: 25%;
        margin-top: 3%;
        margin-left: 38%;
        font-size: 20px;
        color: white;
        background-color: #F0005E;
        border: none;
        border-radius: 10px;
    }
    .task-added{
        height: 30px;
        width: 400px;
        margin: 10px 25px;
        display: inline-block;
        font-size: 20px;
        color: white;
    }
    .calender-icon{
        height: 20px;
        width: 20px; 
        color: grey;
        margin: -5px 30px;
    }
    .date-shown{
        height: 25px;
        width: 100px; 
        margin:-23px 60px ;
        text-transform: uppercase;
        opacity: 0.6;
        color: white;
    }
    .category-display{
        height: 55%;
        width: 18%;
        margin: 3% 0px;
        border-radius: 5px;
        font-size:20px;
        padding: 10px;
        padding-left:30px ;
        color:white;
   }
   .edit{
    color:white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 30px;
   }
   .delete{
    color:white;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 30px;
   }
   .edit-task{
    height: 45%;
    width: 60%;
    margin-top: 1%;
    margin-left: 2%;
    border: none;
    border-radius: 10px;
    }
    .edit-task-input{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    }
    .edit-date {
    height: 45%;
    width: 20%;
    border: none;
    border-radius: 10px;
    
    }
    .edit-date-input{
    height: 70%;
    width:100%;
    border: none;
    border-radius: 10px;
    margin:38% -275%;
    padding-left:10px ;
    }
    .update-calender-icon{
        height: 20px;
        width: 20px; 
        color: white;
        margin-top:8.5%;
        margin-left: -79%;
    }
    .confirm{
        height: 57%;
        width:150%;
        border: none;
        border-radius: 10px;
        color: white;
        margin-top:30%;
        margin-left: 650% ;
    }
    .cancel{
        margin-top:3%;
        margin-left: 70%;
        
    }
    .cancel a:link, a:visited {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        height: 70%;
        width:100%;
        border: none;
        border-radius: 10px;
      }
      
      .cancel a:hover, a:active {
        background-color: red;
      }
    }
  
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
        #main{
            width: 700px;
            height: 450px;
            background-color:#F43E85;
        }
        h1{
            text-align: center;
            color: white;
            padding-top:3%;
        }
        .entry{
            padding-left: 20px;
            width: 100%;
            height:100%;
            border: none;
            border-radius: 20px;
            position: relative;
        }
        ::placeholder{
            opacity: 0.5;
        }
        .row{
            height:15%;
            width: 100%;
            border-radius: 20px;
            margin-left: 0px;
            margin-right: 0px;
            position: relative;
            flex-direction: row;
            background-color: #F43E85;
        }
        .add-task-btn{
            height: 60%;
            width: 25%;
            margin-top: 3%;
            margin-left: 38%;
            font-size: 20px;
            color: white;
            background-color: #F0005E;
            border: none;
            border-radius: 10px;
        }
        .task-added{
            height: 30px;
            width: 400px;
            margin: 10px 25px;
            display: inline-block;
            font-size: 20px;
            color: white;
        }
        .calender-icon{
            height: 20px;
            width: 20px; 
            color: grey;
            margin: -5px 30px;
        }
        .date-shown{
            height: 25px;
            width: 100px; 
            margin:-23px 60px ;
            text-transform: uppercase;
            opacity: 0.6;
            color: white;
        }
        .category-display{
            height: 55%;
            width: 18%;
            margin: 3% 0px;
            border-radius: 5px;
            font-size:20px;
            padding: 10px;
            padding-left:30px ;
            color:white;
       }
       .edit{
        color:white;
        font-size: 30px;
        margin-left: 30px;
        margin-top: 30px;
       }
       .delete{
        color:white;
        font-size: 30px;
        margin-left: 10px;
        margin-top: 30px;
       }
       .edit-task{
        height: 45%;
        width: 60%;
        margin-top: 1%;
        margin-left: 2%;
        border: none;
        border-radius: 10px;
        }
        .edit-task-input{
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        }
        .edit-date {
        height: 45%;
        width: 20%;
        border: none;
        border-radius: 10px;
        
        }
        .edit-date-input{
        height: 70%;
        width:100%;
        border: none;
        border-radius: 10px;
        margin:38% -275%;
        padding-left:10px ;
        }
        .update-calender-icon{
            height: 20px;
            width: 20px; 
            color: white;
            margin-top:8.5%;
            margin-left: -79%;
        }
        .confirm{
            height: 57%;
            width:150%;
            border: none;
            border-radius: 10px;
            color: white;
            margin-top:30%;
            margin-left: 650% ;
        }
        .cancel{
            margin-top:3%;
            margin-left: 70%;
            
        }
        .cancel a:link, a:visited {
            background-color: #f44336;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            height: 70%;
            width:100%;
            border: none;
            border-radius: 10px;
          }
          
          .cancel a:hover, a:active {
            background-color: red;
          }

    }
  
  